#headerTopDiv{
	background-image:url('./cloud.header.left.forever.png');
	height:140px;
	margin:0;
	}
#main-div {
	margin: 0 0 0 10px;
	}
#footer {
	}
.css_browse_button {
	font-family:'trebuchet,arial,sans';
	font-size:10;
	font-weight:bold;
	border:1px solid;
	height:14px;
	} 
.footer-info {
	display: inline-block;
	margin-right: 20px;
	vertical-align: top;
	}
.footer-info a:visited {
	color: black;
	}
a, a:active {
	text-decoration: none; 
	color: blue;
	}
a:visited {
	color: #48468F;
	}
a:hover, a:focus {
	text-decoration: underline; 
	color: red;}
body {
	background-color: #F5F5F5;
	margin:0;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	}
div.list { 
	background-color: white; 
	border-top: 1px solid #646464; 
	border-bottom: 1px solid #646464; 
	padding-top: 10px; 
	padding-bottom: 14px;}
div.foot { 
	font-family: "Courier New", Courier, monospace; 
	font-size: 10pt; 
	color: #787878; 
	padding-top: 4px;}
form { 
	margin-bottom:0; 
	}  
html {
    overflow-y: scroll;
	}
h2 {
	padding:15px 0 0 0;
	margin: 0 0 12px 0;
	}
input.btn {  
	font-family:'trebuchet ms',helvetica,sans-serif;
	font-size:10;
	font-weight:bold;
	color: #3f3f3f; 
	border:1px solid;
	background: #efffff
	}
input.btn:hover{  
	font-family:'trebuchet ms',helvetica,sans-serif;
	font-size:10;
	font-weight:bold;
	color: #3f3f3f; 
	border:1px solid;
	background: #DDCEFF;
	}
input.ndasid, input.ndasname, input.ndasregfile {
	border: 1px solid rgb(112, 112, 112); 
	height: 20px; 
	background-color: rgb(255, 255, 255);
	}
input.ndasid{
	width: 50px; 
	}
input.ndasname{
	width: 160px; 
	}
input.ndasregfile {
	width: 300px; 
	display:inline;
	}
table.netdisk-slot-details{
	font-family: "Courier New", Courier, monospace; 
	font-size: 10pt; 
	border-collapse: collapse;	
	width: 350px;
	white-space: nowrap;
	}
table.netdisk-slot-details tr, table.netdisk-slot-details td{
	border: 1px solid gray;
	
	}

table {
	margin-left: 12px;
	}
th, td { 
	font-family: "Courier New", Courier, monospace; 
	font-size: 10pt; 
	}
th { 
	font-weight: bold; 
	}
td {
	padding-right: 14px;
	}
td.s, th.s {
	text-align: right;
	}
